In [8]:
from datetime import datetime
import pandas as pd
import numpy as np

In [9]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011,1, 7), datetime(2011,1,11), datetime(2012,1,2), datetime(2012, 1, 3)]

In [10]:
ts = pd.Series(np.random.randn(6)*100, index=dates)

In [11]:
print(ts)

2011-01-02     82.929103
2011-01-05     74.236961
2011-01-07   -105.289721
2011-01-11     -0.726100
2012-01-02    -75.360211
2012-01-03     23.430373
dtype: float64

In [12]:
ts.index.dtype

dtype('<M8[ns]')

In [13]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [15]:
#Create long time series from pandas
longer_ts = pd.Series(np.random.randn(1096)*100, index = pd.date_range('1/1/2000', periods=1096))

In [16]:
ts[datetime(2011,1,5):]

2011-01-05     74.236961
2011-01-07   -105.289721
2011-01-11     -0.726100
2012-01-02    -75.360211
2012-01-03     23.430373
dtype: float64

In [17]:
ts['1/5/2011':'1/2/2012']

2011-01-05     74.236961
2011-01-07   -105.289721
2011-01-11     -0.726100
2012-01-02    -75.360211
dtype: float64

In [20]:
ts

2011-01-02     82.929103
2011-01-05     74.236961
2011-01-07   -105.289721
2011-01-11     -0.726100
2012-01-02    -75.360211
2012-01-03     23.430373
dtype: float64

In [25]:
ts + ts[::3]

2011-01-02    165.858206
2011-01-05           NaN
2011-01-07           NaN
2011-01-11     -1.452200
2012-01-02           NaN
2012-01-03           NaN
dtype: float64

In [31]:
ts[0::2]

2011-01-02     82.929103
2011-01-07   -105.289721
2012-01-02    -75.360211
dtype: float64

In [32]:
ts.truncate(after='1/9/2011')

2011-01-02     82.929103
2011-01-05     74.236961
2011-01-07   -105.289721
dtype: float64

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [36]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4)*100,
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])

In [43]:
#long_df


dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [44]:
dup_ts.index.is_unique

False

In [45]:

dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [46]:
grouped = dup_ts.groupby(level=0)
grouped.mean()
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64