In [8]:
from datetime import datetime
import pandas as pd
import numpy as np

In [9]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011,1, 7), datetime(2011,1,11), datetime(2012,1,2), datetime(2012, 1, 3)]

In [10]:
ts = pd.Series(np.random.randn(6)*100, index=dates)

In [11]:
print(ts)

2011-01-02     82.929103
2011-01-05     74.236961
2011-01-07   -105.289721
2011-01-11     -0.726100
2012-01-02    -75.360211
2012-01-03     23.430373
dtype: float64

In [12]:
ts.index.dtype

dtype('<M8[ns]')

In [13]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [15]:
#Create long time series from pandas
longer_ts = pd.Series(np.random.randn(1096)*100, index = pd.date_range('1/1/2000', periods=1096))

In [16]:
ts[datetime(2011,1,5):]

2011-01-05     74.236961
2011-01-07   -105.289721
2011-01-11     -0.726100
2012-01-02    -75.360211
2012-01-03     23.430373
dtype: float64

In [17]:
ts['1/5/2011':'1/2/2012']

2011-01-05     74.236961
2011-01-07   -105.289721
2011-01-11     -0.726100
2012-01-02    -75.360211
dtype: float64

In [20]:
ts

2011-01-02     82.929103
2011-01-05     74.236961
2011-01-07   -105.289721
2011-01-11     -0.726100
2012-01-02    -75.360211
2012-01-03     23.430373
dtype: float64

In [25]:
ts + ts[::3]

2011-01-02    165.858206
2011-01-05           NaN
2011-01-07           NaN
2011-01-11     -1.452200
2012-01-02           NaN
2012-01-03           NaN
dtype: float64

In [31]:
ts[0::2]

2011-01-02     82.929103
2011-01-07   -105.289721
2012-01-02    -75.360211
dtype: float64

In [32]:
ts.truncate(after='1/9/2011')

2011-01-02     82.929103
2011-01-05     74.236961
2011-01-07   -105.289721
dtype: float64

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [36]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4)*100,
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])

In [43]:
#long_df


dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [44]:
dup_ts.index.is_unique

False

In [45]:

dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [46]:
grouped = dup_ts.groupby(level=0)
grouped.mean()
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [47]:
#generating date ranges again
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [54]:

pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [56]:

from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [57]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [58]:

four_hours = Hour(4)
four_hours

In [59]:
Hour(2) + Minute(30)

In [60]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)

In [61]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [62]:

now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [63]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [64]:
now + MonthEnd(3)

Timestamp('2012-01-31 00:00:00')

In [65]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [66]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [69]:

ts = pd.Series(np.random.randn(20),index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [70]:
ts

2000-01-15    0.352403
2000-01-19   -1.180027
2000-01-23   -0.472750
2000-01-27    1.551554
2000-01-31    2.433293
2000-02-04   -0.123619
2000-02-08   -0.032780
2000-02-12    0.555510
2000-02-16    1.454282
2000-02-20   -0.706655
2000-02-24   -0.372513
2000-02-28    1.634179
2000-03-03    0.958737
2000-03-07    0.433172
2000-03-11   -0.636209
2000-03-15   -1.234494
2000-03-19    0.488704
2000-03-23    0.408926
2000-03-27    0.389898
2000-03-31   -0.334568
Freq: 4D, dtype: float64

In [71]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.536895
2000-02-29    0.344058
2000-03-31    0.059271
dtype: float64

In [72]:
# Resampling
rng = pd.date_range('2000-01-01', periods=100, freq='D')

In [73]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2000-01-01    1.264542
2000-01-02   -1.168495
2000-01-03   -0.986740
2000-01-04    0.785562
2000-01-05    0.631097
2000-01-06    2.372083
2000-01-07   -0.302632
2000-01-08    1.464344
2000-01-09   -0.285103
2000-01-10    1.283057
2000-01-11    1.455363
2000-01-12    1.190101
2000-01-13   -1.820780
2000-01-14   -0.089366
2000-01-15    0.838355
2000-01-16   -0.938775
2000-01-17    1.130329
2000-01-18   -0.231123
2000-01-19   -0.032058
2000-01-20    1.563597
2000-01-21    1.364469
2000-01-22   -0.534034
2000-01-23    0.534931
2000-01-24   -0.327116
2000-01-25   -0.667692
2000-01-26   -0.505701
2000-01-27    0.918959
2000-01-28    0.572690
2000-01-29   -1.247389
2000-01-30    0.500982
                ...
2000-03-11    1.155821
2000-03-12   -0.656425
2000-03-13    0.449246
2000-03-14    0.522525
2000-03-15    1.032216
2000-03-16   -1.931663
2000-03-17    0.384446
2000-03-18    1.085972
2000-03-19   -0.533506
2000-03-20   -1.359838
2000-03-21   -1.076351
2000-03-22    1.653753
2000-03-23    0.525280
2000-03-24    1.110738
2000-03-25   -0.601287
2000-03-26    0.299590
2000-03-27   -0.021488
2000-03-28    0.084630
2000-03-29   -1.112833
2000-03-30    2.271208
2000-03-31    1.318693
2000-04-01   -1.653978
2000-04-02    1.505595
2000-04-03    0.642226
2000-04-04    0.594290
2000-04-05    0.434974
2000-04-06    0.701955
2000-04-07    0.232934
2000-04-08   -1.533570
2000-04-09   -1.150829
Freq: D, Length: 100, dtype: float64

In [74]:
ts.resample('M').mean()

2000-01-31    0.271232
2000-02-29    0.068957
2000-03-31    0.343742
2000-04-30   -0.025156
Freq: M, dtype: float64

In [75]:
ts.resample('W').mean()

2000-01-02    0.048024
2000-01-09    0.525516
2000-01-16    0.273994
2000-01-23    0.542302
2000-01-30   -0.107895
2000-02-06    0.450810
2000-02-13    0.445335
2000-02-20    0.021339
2000-02-27   -0.377709
2000-03-05    0.027018
2000-03-12    0.608799
2000-03-19    0.144176
2000-03-26    0.078841
2000-04-02    0.341690
2000-04-09   -0.011146
Freq: W-SUN, dtype: float64

In [76]:
ts.resample('M', kind='period').mean()

2000-01    0.271232
2000-02    0.068957
2000-03    0.343742
2000-04   -0.025156
Freq: M, dtype: float64

In [77]:
# Downsampling
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [78]:

ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [79]:

ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [80]:
ts.resample('5min', closed='right',
            label='right', loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32

In [81]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11